.formGroup {
  display: flex;
  flex-direction: column;
}

.fieldName {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-dark-gray);
}

.field {
  padding: 0.75rem;
  font-size: 1rem;
  border: var(--border);
  border-radius: 5px;
  outline: none;
}

.field:focus-visible {
  border-color: var(--color-dark-gray);
}