.login {
  max-width: 400px;
  width: 100%;
  background-color: var(--color-light);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow) var(--color-transparent);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--color-dark-gray);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background-color: var(--color-dark-gray);
  color: var(--color-light-10);
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-gray);
}

.btn:disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

.error {
  color: var(--color-error);
}